<h1>Short URL history</h1>
<fieldset class="url-filter">
  <input name="filter" id="last-hour" type="radio" class="filter" data-offset-time="1000"{{checkedHelper checkedFilter "1000"}} />
  <label for="last-hour">last hour</label>
  <input name="filter" id="last-day" type="radio" class="filter" data-offset-time="24000"{{checkedHelper checkedFilter "24000"}} />
  <label for="last-day">last day</label>
  <input name="filter" id="last-week" type="radio" class="filter" data-offset-time="168000"{{checkedHelper checkedFilter "168000"}} />
  <label for="last-week">last week</label>
  <input name="filter" id="last-month" type="radio" class="filter" data-offset-time="720000"{{checkedHelper checkedFilter "720000"}} />
  <label for="last-month">last month</label>
  <input name="filter" id="always" type="radio" class="clear"{{checkedHelper checkedFilter "~"}} />
  <label for="always">always</label>
</fieldset>
<ul class="main-urls">
{{#if urls}}
  {{#each urls}}
    <li>
      <div class="icon-link">

      </div>
      <h2><a href="{{short_url}}" target="_blank">{{short_url}}</a></h2>
      <h3>
        <img src="http://www.google.com/s2/favicons?domain={{domain}}" />
        <a href="{{url}}" target="_blank">{{url}}</a>
      </h3>
      <h4><div class="icon-time">&nbsp;</div><span>{{prettyTime}}<span></h4>
    </li>
  {{/each}}
  </ul>
{{else}}
  <span class="empty">No recent shortned urls...</span>
{{/if}}
